.main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  background-image: url("modern-line-stripes-curve-abstract-presentation-background-luxury-paper-cut-background-vector.jpg");
}
#calculation{
    width: 30%;
    height: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    color: white;
    flex-direction: column;

}
#hed{
   font-size: xx-large;
   color: white;
   letter-spacing: 5px;
   letter-spacing: 4px;
  transform: scaleX(1.3);
  display: inline-block;
  margin: 0%;
}
#calc{
    width: 30%;
    height: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#b{
    width: 20%;
    height: 20%;
    border-radius: 10px;
    background-color: rgba(255, 255, 0, 0.515);
    font-size: 30px;
}